<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!--  Default appender -->
  <appender name="defaultFileAppender" class="org.apache.log4j.RollingFileAppender">
     <param name="File" value="${jboss.server.log.dir}/{log.filename}"/>
     <param name="Append" value="true"/>
     <param name="MaxFileSize" value="10000KB"/>
     <param name="MaxBackupIndex" value="5"/>

    <layout class="org.apache.log4j.PatternLayout">
       <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>    
   </appender>
   
   <root>
    	<priority value ="debug" />
    	<appender-ref ref="defaultFileAppender"/>
  </root>
</log4j:configuration>
